#======================
[gcode_macro HOME_IF_NOT]
description: Home all axis only if not already homed
gcode:   
   {% if not "xyz" in printer.toolhead.homed_axes %}
      G28
   {% endif%}


[gcode_macro QGL_HOME_IF_NOT]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}

#======================
[gcode_macro QUAD_GANTRY_LEVEL]
description: set status variable for condidional probe deactivation
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    #RESPOND MSG="QUAD_BATRY_LEVEL overwrite"
  
    #SET_GCODE_VARIABLE MACRO=Voron VARIABLE=qgl_active VALUE=True
  
    HOME_IF_NOT
    QUAD_GANTRY_LEVEL_BASE

    #SET_GCODE_VARIABLE MACRO=Voron VARIABLE=qgl_active VALUE=False

#======================
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32
