#####################################################################
#   Bed Heater
#####################################################################
## Using Keenovo Silicone Heatmat, 290 x 290mm, 230 V/AC, 400 W, bi-metal 150C thermostat
##  SSR Pin - HE0
##  Thermistor - TB
[heater_bed]
# Using BTT Octopus V1.1 - HE0 (PA2)
heater_pin: BED_HEATER
# Using Keenovo Silicone Heatmat, 290 x 290mm, 230 V/AC, 400 W, bi-metal 150C thermostat
# NTC 100K thermistor (Beta 25/50 3950K-1%, R-T datasheet: https://www.keenovo.com/NTC-Thermistor-R-T-Table.pdf)
# Recommended thermistor type is "Generic 3950"
sensor_type: Generic 3950
# Using BTT Octopus V1.1 - TB (PF3)
sensor_pin: MCU_TB
pullup_resistor: 4700
# Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
# 30x30cm = 900cm^2; 900 cm^2 * 0.4 watt = 360 Watt => Set power max to 1.0
max_power: 1.0
# Define safe temperature region
min_temp: -80 #10.0
max_temp: 120.0
# PID control tuned with PID_CALIBRATE HEATER=heater_bed TARGET=80
control: pid
pid_Kp: 66.396
pid_Ki: 2.589
pid_Kd: 425.764


[verify_heater heater_bed]
max_error: 360
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
