
#--------------------------------------------#
#### BTT SB2240 v1.0 MCU definition ########
#--------------------------------------------#

[mcu toolhead]
##--------------------------------------------------------------------
canbus_uuid: 79a866722924
##--------------------------------------------------------------------

# If you want to override the wiring of the BTT SB, keep in mind that this
# board is defined using the "toolhead" name. So you should use "pin: toolhead:PIN_NAME"
# in your own overrides.cfg files.

[include mcu_definitions/BTT_SB2240_v1.0.cfg] # Do not remove this line
[board_pins sb2240_mcu]
mcu: toolhead
aliases:
    E_STEP=MCU_MOTORDRIVE_STEP , E_DIR=MCU_MOTORDRIVE_DIR , E_ENABLE=MCU_MOTORDRIVE_ENABLE ,
    # TMC2240 has no uart mode and since the SPI pins are shared with the SPI2, dedicated pin aliases are not allowed by klipper currently
    TMC_CS=MCU_MOTOR_SPI_NSS, TMC_CLK=MCU_SPI2_CLK,  TMC_MISO=MCU_SPI2_MISO , TMC_MOSI=MCU_SPI2_MOSI, 
    X_STOP=MCU_STOP1  , 
    PROBE_INPUT=MCU_PROBE ,
    TOOLHEAD_SENSOR=MCU_STOP2 ,
    EXTRUDER_SENSOR=MCU_STOP3 ,

    E_HEATER=MCU_HE0 , E_TEMPERATURE=MCU_TH0 ,

    PART_FAN=MCU_FAN2_PWM , E_FAN=MCU_FAN1_PWM ,

    STATUS_NEOPIXEL=MCU_RGB ,

    ADXL_CS=MCU_SPI2_NSS , ADXL_SCLK=MCU_SPI2_CLK , ADXL_MISO=MCU_SPI2_MISO , ADXL_MOSI=MCU_SPI2_MOSI ,
    MAX31865_NSS=MCU_SPI1_NSS , MAX31865_CLK=MCU_SPI1_CLK , MAX31865_MOSI=MCU_SPI1_MOSI , MAX31865_MISO=MCU_SPI1_MISO , 
