[include mainsail.cfg]

[include printer_cfg/mcu_main.cfg]
[include printer_cfg/mcu_toolhead.cfg]
[include printer_cfg/axis/xy.cfg]
[include printer_cfg/axis/z.cfg]
[include printer_cfg/heated_bed.cfg]
[include printer_cfg/extruder.cfg]
[include printer_cfg/home.cfg]
[include printer_cfg/probe.cfg]
[include printer_cfg/quad_gantry_level.cfg]
[include printer_cfg/bed_mesh.cfg]
[include printer_cfg/resonance.cfg]
[include printer_cfg/temperatures.cfg]
[include printer_cfg/fans.cfg]
[include printer_cfg/stealthmax.cfg]
[include printer_cfg/leds.cfg]
[include printer_cfg/display.cfg]

[include printer_macros/homing.cfg]
[include printer_macros/probing.cfg]
[include printer_macros/heat_soak.cfg]
#[include printer_macros/start_end.cfg]

[include printer_macros/ext_respond.cfg]
[include printer_macros/klipper_backup.cfg]

####################################################################
#  Infrastrucure
####################################################################

##################################
#  Permanent variables storage
[save_variables]
filename: ~/printer_data/config/variables.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg

##################################
#  Klipper Console output
[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".


####################################################################
#  Diagnosis
####################################################################

##################################
#  Allow movement w/o homing
[force_move]
enable_force_move: False
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

##################################
# For cancelling singnle objects
[exclude_object]

##################################
# Idle timeout config  
[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 1800
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

##################################
#  Enable Skew correction
[skew_correction]

####################################################################
#  Printer
####################################################################
##################################
#  Voron 2.4 300cm^3 CoreXY
[printer]
kinematics: corexy
#   The type of printer in use. This option may be one of: cartesian,
#   corexy, corexz, hybrid_corexy, hybrid_corexz, rotary_delta, delta,
#   deltesian, polar, winch, or none. This parameter must be specified.
max_velocity: 300
max_z_velocity: 20          #Max 15 for 12V TMC Drivers, can increase for 24V
#   Maximum velocity (in mm/s) of the toolhead (relative to the
#   print). This parameter must be specified.
max_accel: 4000             #Max 4000
max_z_accel: 350
#   Maximum acceleration (in mm/s^2) of the toolhead (relative to the
#   print). This parameter must be specified.
#max_accel_to_decel:
#   A pseudo acceleration (in mm/s^2) controlling how fast the
#   toolhead may go from acceleration to deceleration. It is used to
#   reduce the top speed of short zig-zag moves (and thus reduce
#   printer vibration from these moves). The default is half of
#   max_accel.
square_corner_velocity: 5.0
#   The maximum velocity (in mm/s) that the toolhead may travel a 90
#   degree corner at. A non-zero value can reduce changes in extruder
#   flow rates by enabling instantaneous velocity changes of the
#   toolhead during cornering. This value configures the internal
#   centripetal velocity cornering algorithm; corners with angles
#   larger than 90 degrees will have a higher cornering velocity while
#   corners with angles less than 90 degrees will have a lower
#   cornering velocity. If this is set to zero then the toolhead will
#   decelerate to zero at each corner. The default is 5mm/s.

#======================
[gcode_macro VoronCfg]
description: Voron variable storage macro, will echo variables to the console when run.

variable_print_start_active: False
variable_qgl_active: False

variable_probing_nozzle_temp: 155
variable_probing_nozzle_temp_tolerance: 5

gcode:
  ECHO_VORON_VARS

[gcode_macro ECHO_VORON_VARS]
description: Echo Voron variables to the console.
gcode:
  {% for var, value in printer["gcode_macro VoronCfg"].items() %}
    {action_respond_info(var ~ ": " ~ value)}
  {% endfor %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.960
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.048758, 0.053758, 0.045008, 0.047508, 0.042508
#*# 	0.028758, 0.036258, 0.026258, 0.023758, 0.020008
#*# 	0.000008, 0.007508, 0.000008, 0.000008, -0.003742
#*# 	-0.001242, 0.005008, -0.007492, -0.004992, -0.009992
#*# 	0.018758, 0.025008, 0.016258, 0.012508, 0.011258
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 93.47
#*# max_x = 206.51
#*# min_y = 104.27
#*# max_y = 195.71
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.0028328679521557073
#*# xz_skew = 0.0
#*# yz_skew = 0.0
