#####################################################################
#   X/Y Stepper Settings
#####################################################################

## B Stepper - Left
#  Connected to Octopus - MOTOR_0 (PF12, PF13, PF14)
#  Endstop connected to SB2240 - PB6
[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_ENABLE
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
endstop_pin: toolhead:X_STOP
position_min: 0.0
position_endstop: 300.0
position_max: 300.0
homing_speed: 60.0   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: X_TMCUART
interpolate: true
run_current: 0.8 #0.976
sense_resistor: 0.110
#stealthchop_threshold: 0

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
tuning_goal: performance




## A Stepper - Right
#  Connected to Octopus - MOTOR_1 (PG0, PG1, PF15)
#  Endstop connected to Octopus - DIAG_1 (PG9)
[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_ENABLE
rotation_distance: 40
microsteps: 128
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
endstop_pin: Y_STOP
position_min: 0
position_endstop: 302
position_max: 302
homing_speed: 60  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: Y_TMCUART
interpolate: true
sense_resistor: 0.110
#stealthchop_threshold: 0
run_current: 0.8 #0.976

[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
tuning_goal: performance
