#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to Octopus - MOTOR_2 (PG3, PG5, PF11)
##  Probe used as Endstop 
[stepper_z]
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: !Z_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128
endstop_pin: probe:z_virtual_endstop
position_max: 260
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: Z_TMCUART
interpolate: true
run_current: 0.9
sense_resistor: 0.110
#stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to Octopus - MOTOR_3 (PA0, PC1, PG4)
[stepper_z1]
step_pin: Z1_STEP
dir_pin: !Z1_DIR
enable_pin: !Z1_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z1]
uart_pin: Z1_TMCUART
interpolate: true
run_current: 0.9
sense_resistor: 0.110
#stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to Octopus - MOTOR_4 (PF9, PF10, PG2)
[stepper_z2]
step_pin: Z2_STEP
dir_pin: Z2_DIR
enable_pin: !Z2_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z2]
uart_pin: Z2_TMCUART
interpolate: true
run_current: 0.9
sense_resistor: 0.110
#stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to Octopus - MOTOR_5 (PC13, PF0, PF1)
[stepper_z3]
step_pin: Z3_STEP
dir_pin: !Z3_DIR
enable_pin: !Z3_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z3]
uart_pin: Z3_TMCUART
interpolate: true
run_current: 0.9
sense_resistor: 0.110
#stealthchop_threshold: 0
